In [2]:
import pandas as pd

In [7]:
df_train = pd.read_csv('open/train.csv')
df_val = pd.read_csv('open/val.csv')

In [9]:
df_val

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V22,V23,V24,V25,V26,V27,V28,V29,V30,Class
0,10,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,...,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,-0.255991,-0.994878,0
1,22,0.962496,0.328461,-0.171479,2.109204,1.129566,1.696038,0.107712,0.521502,-1.191311,...,0.402492,-0.048508,-1.371866,0.390814,0.199964,0.016371,-0.014605,0.168937,-0.994784,0
2,63,1.145524,0.575068,0.194008,2.598192,-0.092210,-1.044430,0.531588,-0.241888,-0.896287,...,-0.119703,-0.076510,0.691320,0.633984,0.048741,-0.053192,0.016251,0.169496,-0.994502,0
3,69,0.927060,-0.323684,0.387585,0.544474,0.246787,1.650358,-0.427576,0.615371,0.226278,...,0.079359,0.096632,-0.992569,0.085096,0.377447,0.036096,-0.005960,0.331307,-0.994467,0
4,83,-3.005237,2.600138,1.483691,-2.418473,0.306326,-0.824575,2.065426,-1.829347,4.009259,...,-0.181268,-0.163747,0.515821,0.136318,0.460054,-0.251259,-1.105751,-0.287012,-0.994373,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28457,284769,-0.546378,1.433992,-0.313252,0.926044,0.522388,-0.565669,1.066075,0.269799,-1.099446,...,0.778817,-0.175451,0.030397,0.018381,-0.395994,0.301655,0.173585,0.202753,1.034622,0
28458,284779,-0.764523,0.588379,-0.907599,-0.418847,0.901528,-0.760802,0.758545,0.414698,-0.730854,...,-0.431876,0.141759,0.587119,-0.200998,0.267337,-0.152951,-0.065285,0.810452,1.034693,0
28459,284790,-0.446951,1.302212,-0.168583,0.981577,0.578957,-0.605641,1.253430,-1.042610,-0.417116,...,0.305268,-0.148093,-0.038712,0.010209,-0.362666,0.503092,0.229921,0.537972,1.034763,0
28460,284801,2.039560,-0.175233,-1.196825,0.234580,-0.008713,-0.726571,0.017050,-0.118228,0.435402,...,-0.717211,0.297930,-0.359769,-0.315610,0.201114,-0.080826,-0.075071,-0.269964,1.034928,0
28461,284806,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,-0.167680,1.034975,0

## df_val : 정상 0, 사기 1

In [11]:
val_one = df_val[df_val['Class'] == 1]

In [16]:
feature_names = ['V' + str(i) for i in range(1, 31)]

In [26]:
feature = pd.DataFrame(df_val, columns=feature_names)
target = pd.DataFrame(df_val, columns=['Class'])

In [66]:
total = pd.concat([feature,target], axis=1)

In [67]:
total_corr = total.corr()

In [68]:
total_corr = total_corr['Class']

In [70]:
total_corr = pd.DataFrame(total_corr.values, index= total_corr.index, columns = ['Corr'])

In [76]:
total_corr.sort_values('Corr')

           Corr
V17   -0.290434
V14   -0.270852
V12   -0.239264
V10   -0.226813
V7    -0.214810
V3    -0.212345
V16   -0.169542
V5    -0.112254
V1    -0.109284
V9    -0.098666
V18   -0.096104
V6    -0.045676
V27   -0.043127
V28   -0.018156
V30   -0.010476
V24   -0.010131
V15   -0.009532
V25   -0.003573
V29   -0.001762
V21   -0.001090
V13    0.001800
V23    0.005015
V26    0.005371
V20    0.015873
V22    0.016996
V19    0.024223
V8     0.038359
V2     0.096823
V4     0.126146
V11    0.142082
Class  1.000000

In [150]:
# 0.2 면 0.8186727166
df = total_corr[abs(total_corr['Corr']) > 0.1]
df

           Corr
V1    -0.109284
V3    -0.212345
V4     0.126146
V5    -0.112254
V7    -0.214810
V10   -0.226813
V11    0.142082
V12   -0.239264
V14   -0.270852
V16   -0.169542
V17   -0.290434
Class  1.000000

In [151]:
df.index

Index(['V1', 'V3', 'V4', 'V5', 'V7', 'V10', 'V11', 'V12', 'V14', 'V16', 'V17',
       'Class'],
      dtype='object')

In [152]:
df_col = df_val[df.index]

In [153]:
df_col

,V1,V3,V4,V5,V7,V10,V11,V12,V14,V16,V17,Class
0,-0.338262,1.044367,-0.222187,0.499361,0.651583,-0.366846,1.017614,0.836390,-0.443523,0.739453,-0.540980,0
1,0.962496,-0.171479,2.109204,1.129566,0.107712,0.724396,1.690330,0.406774,0.983739,-0.602232,0.402484,0
2,1.145524,0.194008,2.598192,-0.092210,0.531588,0.757952,-0.448937,-0.660863,0.788864,0.295404,-0.287878,0
3,0.927060,0.387585,0.544474,0.246787,-0.427576,-0.225495,1.944545,1.385160,0.314166,-1.333716,1.002869,0
4,-3.005237,1.483691,-2.418473,0.306326,2.065426,6.051521,2.572500,0.066851,-2.837136,-0.303774,-1.942303,0
...,...,...,...,...,...,...,...,...,...,...,...,...
28457,-0.546378,-0.313252,0.926044,0.522388,1.066075,-0.077753,0.534689,0.748099,1.018502,-0.914161,0.143397,0
28458,-0.764523,-0.907599,-0.418847,0.901528,0.758545,-1.245088,0.874312,0.162691,-0.317789,0.482847,0.681412,0
28459,-0.446951,-0.168583,0.981577,0.578957,1.253430,0.076605,-1.291228,-0.690868,0.753473,-1.129904,0.319074,0
28460,2.039560,-1.196825,0.234580,-0.008713,0.017050,0.267772,0.523316,0.559047,0.626211,0.225361,-0.605252,0
28461,-0.240440,0.702510,0.689799,-0.377961,-0.686180,-0.399126,-1.933849,-0.962886,0.449624,-0.608577,0.509928,0

In [154]:
from sklearn.neural_network import MLPClassifier
model = MLPClassifier(max_iter=500)

In [155]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df_col.drop('Class', axis=1), df_col['Class'], test_size = 0.2)

In [156]:
model.fit(X_train, Y_train)

MLPClassifier(max_iter=500)

In [157]:
from sklearn.metrics import accuracy_score

model.score(X_train, Y_train), model.score(X_test, Y_test)

(0.9996925644516668, 0.9998243456876866)

In [158]:
df_test = pd.read_csv('open/test.csv')
df_sample = pd.read_csv('open/sample_submission.csv')
df_test

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,AAAA0x1,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,1.783274,-0.994983
1,AAAA0x2,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,-0.269825,-0.994983
2,AAAA0x5,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.670579,-0.994960
3,AAAA0x7,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,...,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,-0.237686,-0.994937
4,AAAA0xc,0.384978,0.616109,-0.874300,-0.094019,2.924584,3.317027,0.470455,0.538247,-0.558895,...,0.049924,0.238422,0.009130,0.996710,-0.767315,-0.492208,0.042472,-0.054337,-0.167819,-0.994866
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142498,0x4587f,0.219529,0.881246,-0.635891,0.960928,-0.152971,-1.014307,0.427126,0.121340,-0.285670,...,0.099936,0.337120,0.251791,0.057688,-1.508368,0.144023,0.181205,0.215243,0.028645,1.034904
142499,0x45880,-1.775135,-0.004235,1.189786,0.331096,1.196063,5.519980,-1.518185,2.080825,1.159498,...,0.103302,0.654850,-0.348929,0.745323,0.704545,-0.127579,0.454379,0.130308,0.810312,1.034916
142500,0x45884,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,0.038986,1.034963
142501,0x45885,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,0.641096,1.034975
142502,0x45887,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,2.724796,1.035022

In [159]:
df_sample

             ID  Class
0       AAAA0x1      1
1       AAAA0x2      1
2       AAAA0x5      1
3       AAAA0x7      1
4       AAAA0xc      1
...         ...    ...
142498  0x4587f      1
142499  0x45880      1
142500  0x45884      1
142501  0x45885      1
142502  0x45887      1

[142503 rows x 2 columns]

In [160]:
df_column = list(df.index.values)

In [161]:
df_column.remove('Class')

In [162]:
df_column.insert(0,'ID')

In [163]:
df_test = df_test[df_column]

In [164]:
df_test

,ID,V1,V3,V4,V5,V7,V10,V11,V12,V14,V16,V17
0,AAAA0x1,-1.359807,2.536347,1.378155,-0.338321,0.239599,0.090794,-0.551600,-0.617801,-0.311169,-0.470401,0.207971
1,AAAA0x2,1.191857,0.166480,0.448154,0.060018,-0.078803,-0.166974,1.612727,1.065235,-0.143772,0.463917,-0.114805
2,AAAA0x5,-1.158233,1.548718,0.403034,-0.407193,0.592941,0.753074,-0.822843,0.538196,-1.119670,-0.451449,-0.237033
3,AAAA0x7,1.229658,0.045371,1.202613,0.191881,-0.005159,-0.099254,-1.416907,-0.153826,0.167372,-0.443587,0.002821
4,AAAA0xc,0.384978,-0.874300,-0.094019,2.924584,0.470455,0.309755,-0.259116,-0.326143,0.362832,-0.129487,-0.809979
...,...,...,...,...,...,...,...,...,...,...,...,...
142498,0x4587f,0.219529,-0.635891,0.960928,-0.152971,0.427126,-0.111640,-1.109232,-0.453235,1.122674,-1.431897,0.939328
142499,0x45880,-1.775135,1.189786,0.331096,1.196063,-1.518185,-0.594242,-1.264072,0.453596,-0.858719,-0.644646,0.447184
142500,0x45884,-0.732789,2.035030,-0.738589,0.868229,0.024330,-0.975926,-0.150189,0.915802,-0.675143,-0.711757,-0.025693
142501,0x45885,1.919565,-3.249640,-0.557828,2.630515,-0.296827,-0.484782,0.411614,0.063119,-0.510602,0.140716,0.313502
142502,0x45887,-0.533413,0.703337,-0.506271,-0.012546,1.577006,-0.915427,-1.040458,-0.031513,-0.084316,-0.302620,-0.660377

In [165]:
pred = model.predict(df_test.drop('ID',axis=1))

In [166]:
df_pred = pd.DataFrame(pred, columns=['Class'])

In [167]:
df_pred['ID'] = df_test['ID']

In [168]:
# 데이터 프레임 순서바꾸기
df_pred = df_pred[['ID','Class']]
df_pred

             ID  Class
0       AAAA0x1      0
1       AAAA0x2      0
2       AAAA0x5      0
3       AAAA0x7      0
4       AAAA0xc      0
...         ...    ...
142498  0x4587f      0
142499  0x45880      0
142500  0x45884      0
142501  0x45885      0
142502  0x45887      0

[142503 rows x 2 columns]

In [169]:
df_sample

             ID  Class
0       AAAA0x1      1
1       AAAA0x2      1
2       AAAA0x5      1
3       AAAA0x7      1
4       AAAA0xc      1
...         ...    ...
142498  0x4587f      1
142499  0x45880      1
142500  0x45884      1
142501  0x45885      1
142502  0x45887      1

[142503 rows x 2 columns]

In [170]:
df_sample['Class'] = df_pred[df_sample['ID'] == df_pred['ID']]['Class']
df_sample

             ID  Class
0       AAAA0x1      0
1       AAAA0x2      0
2       AAAA0x5      0
3       AAAA0x7      0
4       AAAA0xc      0
...         ...    ...
142498  0x4587f      0
142499  0x45880      0
142500  0x45884      0
142501  0x45885      0
142502  0x45887      0

[142503 rows x 2 columns]

In [171]:
df_sample.to_csv("sample.csv",index=False)

In [172]:
pd.read_csv("sample.csv")

             ID  Class
0       AAAA0x1      0
1       AAAA0x2      0
2       AAAA0x5      0
3       AAAA0x7      0
4       AAAA0xc      0
...         ...    ...
142498  0x4587f      0
142499  0x45880      0
142500  0x45884      0
142501  0x45885      0
142502  0x45887      0

[142503 rows x 2 columns]